@mixin layout-positioner() {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin image() {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

@mixin list-clean() {
  margin: 0;
  padding: 0;
  list-style: none;
}