.logo__title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto Slab Bold", "Times", serif;
  color: #31353e;
}

.logo__subtitle {
  margin-top: 2px;
  margin-left: 1px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Roboto Slab Regular", "Times", serif;
  letter-spacing: 1px;
  color: #dd4b2b;
}